*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}
html{
    height: 100%;
}
body {
    height: 100vh;
    font-family: Inter, sans-serif;
    background-color: #282D35;
}
.nav {
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 90px;
    padding: 30px 25px;
}
.nav--logo_text, .nav--title {
    color: #DEEBF8;
    margin: 0;
}
.nav-items {
    list-style: none;
    display: flex;
    font-size: 1.4rem;
}
.nav-items > li {
    padding: 10px;
}
.nav--title {
    font-weight: 600;
    margin-left: auto;
}
.main{
    height: 100%;
    padding: 57px 27px;
    color: white;
}
.main--title {
    margin: 0;
    font-size: 39px;
    letter-spacing: -0.05em;
}

.main--facts {
    margin-top: 46px;
    max-width: 400px;
    margin-left: 46px;
}

.main--facts > li {
    line-height: 19px;
    padding-block: 10px;
}
.main--facts > li::marker {
    font-size: 1.4rem;
    color: #61DAFB;
}
.footer{
    background-color: #21222A;
    position: relative;
    justify-content: center;
    text-align: center;
    padding: 35px;
    margin-top: auto;
    color: #ffffff;
    font-size: 1.23rem;
}
.footer a{
    text-decoration: none;
    color: #ffffff;
}
